In [662]:
import pandas as pd

In [663]:
file_path = 'data/'
df = pd.read_csv(file_path+'train.csv')

In [664]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [665]:
df.drop(['PassengerId', 'Name', 'Ticket'], axis = 1, inplace = True)

In [666]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [667]:
df['Embarked'] = df['Embarked'].fillna('S')

In [668]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [669]:
df['Cabin'] = df['Cabin'].fillna('N')

In [670]:
# df.drop('Cabin', axis = 1, inplace = True)

In [671]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500     N        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250     N        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500     N        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000     N        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500     N        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500     N        Q

[891 rows x 9 columns]

In [672]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

/var/folders/rq/t18jlxz1147bl8w5xrw6jst00000gn/T/ipykernel_2803/1698716155.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [673]:
df['Age'] = df['Age'].astype(int)

In [674]:
df

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male   22      1      0   7.2500     N        S
1           1       1  female   38      1      0  71.2833   C85        C
2           1       3  female   26      0      0   7.9250     N        S
3           1       1  female   35      1      0  53.1000  C123        S
4           0       3    male   35      0      0   8.0500     N        S
..        ...     ...     ...  ...    ...    ...      ...   ...      ...
886         0       2    male   27      0      0  13.0000     N        S
887         1       1  female   19      0      0  30.0000   B42        S
888         0       3  female   29      1      2  23.4500     N        S
889         1       1    male   26      0      0  30.0000  C148        C
890         0       3    male   32      0      0   7.7500     N        Q

[891 rows x 9 columns]

In [675]:
floor = []
for index, row in df[['Cabin']].iterrows():
    floor.append(row[0][0])

/var/folders/rq/t18jlxz1147bl8w5xrw6jst00000gn/T/ipykernel_2803/2297611969.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  floor.append(row[0][0])

In [676]:
df['floor'] = floor

In [677]:
df.drop('Cabin', axis = 1, inplace = True)

In [678]:
df

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked floor
0           0       3    male   22      1      0   7.2500        S     N
1           1       1  female   38      1      0  71.2833        C     C
2           1       3  female   26      0      0   7.9250        S     N
3           1       1  female   35      1      0  53.1000        S     C
4           0       3    male   35      0      0   8.0500        S     N
..        ...     ...     ...  ...    ...    ...      ...      ...   ...
886         0       2    male   27      0      0  13.0000        S     N
887         1       1  female   19      0      0  30.0000        S     B
888         0       3  female   29      1      2  23.4500        S     N
889         1       1    male   26      0      0  30.0000        C     C
890         0       3    male   32      0      0   7.7500        Q     N

[891 rows x 9 columns]

In [679]:
target_df = df[['Survived']]
train_df = df.loc[:,['Pclass', 'Sex','Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'floor']]

In [680]:
train_df

     Pclass     Sex  Age  SibSp  Parch     Fare Embarked floor
0         3    male   22      1      0   7.2500        S     N
1         1  female   38      1      0  71.2833        C     C
2         3  female   26      0      0   7.9250        S     N
3         1  female   35      1      0  53.1000        S     C
4         3    male   35      0      0   8.0500        S     N
..      ...     ...  ...    ...    ...      ...      ...   ...
886       2    male   27      0      0  13.0000        S     N
887       1  female   19      0      0  30.0000        S     B
888       3  female   29      1      2  23.4500        S     N
889       1    male   26      0      0  30.0000        C     C
890       3    male   32      0      0   7.7500        Q     N

[891 rows x 8 columns]

In [681]:
train_df = pd.get_dummies(train_df, columns=['Sex', 'Embarked', 'floor'], dtype=int)

In [682]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,floor_A,floor_B,floor_C,floor_D,floor_E,floor_F,floor_G,floor_N,floor_T
0,3,22,1,0,7.2500,0,1,0,0,1,0,0,0,0,0,0,0,1,0
1,1,38,1,0,71.2833,1,0,1,0,0,0,0,1,0,0,0,0,0,0
2,3,26,0,0,7.9250,1,0,0,0,1,0,0,0,0,0,0,0,1,0
3,1,35,1,0,53.1000,1,0,0,0,1,0,0,1,0,0,0,0,0,0
4,3,35,0,0,8.0500,0,1,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,27,0,0,13.0000,0,1,0,0,1,0,0,0,0,0,0,0,1,0
887,1,19,0,0,30.0000,1,0,0,0,1,0,1,0,0,0,0,0,0,0
888,3,29,1,2,23.4500,1,0,0,0,1,0,0,0,0,0,0,0,1,0
889,1,26,0,0,30.0000,0,1,1,0,0,0,0,1,0,0,0,0,0,0
890,3,32,0,0,7.7500,0,1,0,1,0,0,0,0,0,0,0,0,1,0

In [683]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()


clf = RandomForestClassifier(random_state=42)
trian_input, test_input, train_target, test_target = train_test_split(train_df, target_df, test_size=0.2,random_state=42)

In [684]:
trian_input = scaler.fit_transform(trian_input)
test_input = scaler.transform(test_input)

In [685]:
clf.fit(trian_input, train_target)

/Users/chojungseok/Desktop/code/DAMF2/ML/MLvenv/lib/python3.13/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(random_state=42)

In [686]:
print(clf.score(trian_input, train_target))
print(clf.score(test_input, test_target))

0.9775280898876404
0.8044692737430168

---

In [693]:
test = pd.read_csv('/Users/chojungseok/Desktop/code/DAMF2/ML/data/test.csv')

In [694]:
test.drop(['PassengerId', 'Name', 'Ticket'], axis = 1, inplace = True)

In [695]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Cabin     91 non-null     object
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 26.3+ KB

In [696]:
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

/var/folders/rq/t18jlxz1147bl8w5xrw6jst00000gn/T/ipykernel_2803/4085958128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Age'].fillna(test['Age'].mean(), inplace=True)
/var/folders/rq/t18jlxz1147bl8w5xrw6jst00000gn/T/ipykernel_2803/4085958128.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Fare'].fillna(test['Fare'].mean(), inplace=True)

In [697]:
test['Age'] = test['Age'].astype(int)

In [698]:
test['Cabin'] = test['Cabin'].fillna('N')

In [699]:
test_floor = []
for index, row in test[['Cabin']].iterrows():
    test_floor.append(row[0][0])

/var/folders/rq/t18jlxz1147bl8w5xrw6jst00000gn/T/ipykernel_2803/4289183348.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  test_floor.append(row[0][0])

In [700]:
test['floor'] = test_floor

In [701]:
test.drop('Cabin', axis = 1, inplace = True)

In [703]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    int64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
 7   floor     418 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 26.3+ KB

In [704]:
test = pd.get_dummies(test, columns=['Sex', 'Embarked', 'floor'], dtype=int)

In [705]:
test

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,floor_A,floor_B,floor_C,floor_D,floor_E,floor_F,floor_G,floor_N
0,3,34,0,0,7.8292,0,1,0,1,0,0,0,0,0,0,0,0,1
1,3,47,1,0,7.0000,1,0,0,0,1,0,0,0,0,0,0,0,1
2,2,62,0,0,9.6875,0,1,0,1,0,0,0,0,0,0,0,0,1
3,3,27,0,0,8.6625,0,1,0,0,1,0,0,0,0,0,0,0,1
4,3,22,1,1,12.2875,1,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,30,0,0,8.0500,0,1,0,0,1,0,0,0,0,0,0,0,1
414,1,39,0,0,108.9000,1,0,1,0,0,0,0,1,0,0,0,0,0
415,3,38,0,0,7.2500,0,1,0,0,1,0,0,0,0,0,0,0,1
416,3,30,0,0,8.0500,0,1,0,0,1,0,0,0,0,0,0,0,1
417,3,30,1,1,22.3583,0,1,1,0,0,0,0,0,0,0,0,0,1

In [706]:
clf.predict(test)

/Users/chojungseok/Desktop/code/DAMF2/ML/MLvenv/lib/python3.13/site-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

ValueError: X has 18 features, but RandomForestClassifier is expecting 19 features as input.